@font-face {
    font-family: 'Urzeit';
    src: url('/src/assets/fonts/urzeit/Urzeit.woff2');
}

@font-face {
    font-family: 'RetroGame';
    src: url('/src/assets/fonts/retrogame/RetroGame.woff2');
}
