@mixin animate-card-death {
    animation: card-death 1.0s forwards;
}

@keyframes card-death {
    0% {
        filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
    }
    50% {
        filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8) opacity(0.7);
        transform: scale(0.8, 0.9);
    }
    70% {
        transform: scale(0.7, 0.8);
        filter: grayscale(100%) brightness(0%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8) opacity(0.5);
    }
    100% {
        transform: scale(0.7);
        filter: grayscale(100%) brightness(0%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8) opacity(0);
    }
}
